body {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.main_header_menu ul {
  list-style: none;
}
.main_header_menu ul li {
  display: inline-block;
}
.main_header_menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
}
.logo {
  width: 40%;
}
.main_image {
  position: relative;
  overflow: hidden;
  width: 300px;
}
.main_image a.main_img {
  position: absolute;
  width: 300px;
  display: block;
  z-index: 10;
  background: url("../img/2.jpg") center top;
}
.main_image a.main_img :hover {
  background-position: center -300px;
  z-index: 0;
}
.main_image .slide {
  z-index: 0;
  visibility: visible;
}
.main_image .slide .active {
  width: 100%;
}
